<html>
    <head>
        <meta charset="utf-8">
        <title>MySite - Detail and vote</title>
    </head>
<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
<fieldset>
    <legend><h1>{{ question.question_text }}</h1></legend>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% if question.choice_set.all %}
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
</fieldset>
<input type="submit" value="Vote">
    {% else %}
        <p> No choices set for this question </p>
    <a href="{% url 'polls:index' %}">Back to polls?</a>
    {% endif %}
</form>
</html>
